.register {
    position: relative;
    color: getColors(primary-normal);
    width: 95vw;
    height: 100%;

    &__role {
        margin-right: auto;
        margin-top: 1rem;
    }

    &__body {
        @include setFlex(column, center, center);

        height: 100%;
        padding: 2rem;

        form {
            @include setFlex(column, center, center);

            position: relative;
            width: 100%;
            color: getColors(primary-normal);
            margin-top: 1.5rem;

            button {
                @include customButtonWithHover(getColors(focus), getColors(secondary)) {
                    opacity: 0.8;
                    background-color: getColors(focus) !important;
                }

                margin: 1.5rem 0;
                width: 5rem;
            }

            svg {
                transform: scale(0.6);
            }
        }

        .goto-login {
            text-align: center;
            cursor: pointer;

            strong {
                color: getColors(focus);
            }

            @include responsiveHover {
                text-decoration: underline;
            }
        }

        .error {
            @include errorcss;
        }
    }
}
@import './registerResponsive';
