.app {
    position: relative;
    font-family: $main !important;
    width: 100vw;
    height: 100vh;

    &__body {
        @include setFlex(row, center, center);

        position: absolute;
        background-image: url('../../assets/non-svg/base-bg.jpg');
        background-color: #cccccc;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: luminosity;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
}
