@include media-lg {
    .ant-modal {
        &-body {
            .miner {
                &-header {
                    grid-template-columns: 1fr 1fr;
                    place-items: center;
                    max-height: 8rem;

                    &__functions {
                        margin-top: unset;
                    }
                    &__title {
                        margin: 1rem;
                    }
                    &--items {
                        &:first-child {
                            margin-left: 1rem;
                        }
                    }
                }
                &-body {
                    margin-top: unset;
                }
            }
        }
    }
}
